/*=========================== 
    30. Product Modal
============================= */
#productModal .modal-body {
  padding: 0;
}
.modal {
    z-index: 13000
}
#productModal .modal-dialog {
  margin: 10px auto 5%;
  max-width: 96%;
  min-height: 300px;
  padding: 20px;
  transition: all 0.5s ease 0s;
  width: 870px;
}
#productModal .modal-header {
    border: 0 none;
    padding: 0;
    min-height: auto;
}
#productModal button.close {
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s ease 0s;
  z-index: 2;
}
#productModal button.close:hover {
    opacity: 1;
}
#productModal button.close span {
  background: #ffffff none repeat scroll 0 0;
  color: #000000;
  display: block;
  font-size: 30px;
  height: 44px;
  line-height: 44px;
  padding-top: 1px;
  text-align: center;
  width: 44px;
}
#quickview-wrapper .modal-content {
    border-radius: 0;
}
.modal-product {
    overflow: hidden
}
.modal-product .product-images {
  float: left;
  padding-left: 20px;
  width: 60%;
}
.modal-product .product-images .quick-thumbnails {
    float: left;
    width: 100%;
}
.modal-product .product-images .main-image {
    float: left;
    width: 100%;
}
.modal-product .product-info a.add-to-cart-qv {
  border: 2px solid #888888;
  display: block;
  float: right;
  font-family: "Montserrat",sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 30px;
  text-align: center;
}
.modal-product .product-info a.add-to-cart-qv:hover{
    background-color: #59B210;
    color: #fff;
}
.modal-product .product-images .main-image img {
    box-shadow: none
}
.modal-product .product-info {
  float: left;
  padding: 30px;
  width: 40%;
}
.modal-product .product-info h1 {
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 20px;
}
.modal-product .product-info .price-box {
    float: left;
    margin: 0 0 12px;
    width: 100%;
}
.modal-product .product-info .price-box p {
    margin: 0
}
.modal-product .product-info .price-box .special-price {
    color: #83cbdc;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.modal-product .product-info .see-all {
    color: #42414f;
    display: inline-block;
    margin-bottom: 35px;
    text-decoration: underline;
}
.numbers-row > input {
    float: left;
    height: 40px;
    text-align: center;
    width: 100px;
    border: none;
    border: 1px solid #ddd;
}
.quick-add-to-cart .single_add_to_cart_button {
    border: medium none;
    color: #fff;
    float: left;
    font-weight: 700;
    height: 40px;
    margin-left: 15px;
    padding: 0 70px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 0px 3px 0px #7C7C7C;
}
.modal-product .product-info .see-all:hover {
    color: #212121
}
h3.widget-title-modal {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #42414f;
    float: left;
    font-size: 16px;
    line-height: 30px;
    margin: 0 0 5px;
    text-align: left;
    text-transform: none;
    width: 100%;
}
.widget-title-modal {}
.modal-product .product-info .quick-add-to-cart {
  border-bottom: 1px solid #e5e5e5;
  float: left;
  padding: 0;
  width: 100%;
}
.modal-product .product-info .quick-desc {
  color: #909295;
  float: left;
  font-size: 14px;
  line-height: 21px;
  padding: 0 0 15px;
  width: 100%;
}
.modal-product .widget {
    float: left;
    width: 100%;
}
.modal-product .widget .widget-title {
    background: none;
    color: #909295;
    float: left;
    font-size: 16px;
    line-height: 30px;
    margin: 0 0 5px;
    text-align: left;
    text-transform: none;
    width: 100%;
}
.modal-product .widget .social-icons {
    float: left;
    margin: 0;
    padding: 0;
}
.social-sharing .social-icons {
    display: block;
    float: left;
    width: 100%;
}
.modal-product .widget .social-icons li {
  float: left;
  line-height: 30px;
  list-style: outside none none;
}
.modal-product .widget .social-icons li .social-icon {
  color: #909295;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
  text-align: center;
  width: 20px;
}
.modal-product .widget .social-icons li .social-icon:hover {
    color: #fff
}
.modal-product .widget .social-icons li .social-icon.facebook:hover {
    background: #3B579D;
    border: 1px solid #3B579D;
}
.modal-product .widget .social-icons li .social-icon.twitter:hover {
    background: #3ACAFF;
    border: 1px solid #3ACAFF;
}
.modal-product .widget .social-icons li .social-icon.pinterest:hover {
    background: #CB2027;
    border: 1px solid #CB2027;
}
.modal-product .widget .social-icons li .social-icon.tumblr:hover {
    background: #304E6C;
    border: 1px solid #304E6C;
}
.modal-product .widget .social-icons li .social-icon.gplus:hover {
    background: #D11717;
    border: 1px solid #D11717;
}
.modal-product .widget .social-icons li .social-icon.linkedin:hover {
    background: #0097BD;
    border: 1px solid #0097BD;
}
.s-price-box {
  display: inline-block;
  margin-bottom: 30px;
  padding: 5px 0;
  position: relative;
}
.s-price-box .new-price {
  color: #e69e60;
  font-size: 24.7px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 25px;
}
.s-price-box .old-price {
  color: #939295;
  font-size: 17.28px;
  font-weight: 400;
  margin-left: 7px;
  text-decoration: line-through;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}

input[type=number]:hover::-webkit-inner-spin-button { 
    background: #eee url('http://i.stack.imgur.com/YYySO.png') no-repeat 50% 50%;  
    width: 14px;
    height: 14px;
    padding: 4px;
    position: relative;
    right: 4px;
    border-radius: 28px;
}