<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>ServletAccueil</servlet-name>
    <servlet-class>vue.ServletAccueil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletInscription</servlet-name>
    <servlet-class>vue.ServletInscription</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GestionTestJDBC</servlet-name>
    <servlet-class>vue.GestionTestJDBC</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletConnect</servlet-name>
    <servlet-class>vue.ServletConnect</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletDisconnect</servlet-name>
    <servlet-class>vue.ServletDisconnect</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletRestriction</servlet-name>
    <servlet-class>vue.ServletRestriction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletContact</servlet-name>
    <servlet-class>vue.ServletContact</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletOrder</servlet-name>
    <servlet-class>vue.ServletOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAccueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletInscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GestionTestJDBC</servlet-name>
    <url-pattern>/testjdbc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletConnect</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDisconnect</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletRestriction</servlet-name>
    <url-pattern>/restriction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletOrder</servlet-name>
    <url-pattern>/Order</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletLayout</servlet-name>
    <servlet-class>vue.ServletLayout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLayout</servlet-name>
    <url-pattern>/Layout</url-pattern>
  </servlet-mapping>
</web-app>