<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>ServletAccueil</servlet-name>
    <servlet-class>vue.ServletAccueil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletInscription</servlet-name>
    <servlet-class>vue.ServletInscription</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GestionTestJDBC</servlet-name>
    <servlet-class>vue.GestionTestJDBC</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletConnect</servlet-name>
    <servlet-class>vue.ServletConnect</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletDisconnect</servlet-name>
    <servlet-class>vue.ServletDisconnect</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletRestriction</servlet-name>
    <servlet-class>vue.ServletRestriction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletContact</servlet-name>
    <servlet-class>vue.ServletContact</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletOrder</servlet-name>
    <servlet-class>vue.ServletOrder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletMap</servlet-name>
    <servlet-class>vue.ServletMap</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletLayout</servlet-name>
    <servlet-class>vue.ServletLayout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletProfile</servlet-name>
    <servlet-class>vue.ServletProfile</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>/fichiers/</param-value>
    </init-param>
    <multipart-config>
      <location>C:/fichiers</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>ServletPropose</servlet-name>
    <servlet-class>vue.ServletPropose</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>/fichiers/</param-value>
    </init-param>
    <multipart-config>
      <location>C:/fichiers</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>ServletAcheter</servlet-name>
    <servlet-class>vue.ServletAcheter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletPanier</servlet-name>
    <servlet-class>vue.ServletPanier</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletUpload</servlet-name>
    <servlet-class>vue.ServletUpload</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>/fichiers/</param-value>
    </init-param>
    <multipart-config>
      <location>c:/fichiers</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>ServletAbout</servlet-name>
    <servlet-class>vue.ServletAbout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletOwnOrders</servlet-name>
    <servlet-class>vue.ServletOwnOrders</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletOwnProposals</servlet-name>
    <servlet-class>vue.ServletOwnProposals</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletProductsList</servlet-name>
    <servlet-class>vue.ServletProductsList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletServicesList</servlet-name>
    <servlet-class>vue.ServletServicesList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletStaff</servlet-name>
    <servlet-class>vue.ServletStaff</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>ServletSalableDetails</servlet-name>
    <servlet-class>vue.ServletSalableDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAccueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletInscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GestionTestJDBC</servlet-name>
    <url-pattern>/testjdbc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletConnect</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDisconnect</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletRestriction</servlet-name>
    <url-pattern>/restriction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletOrder</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletMap</servlet-name>
    <url-pattern>/map</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletLayout</servlet-name>
    <url-pattern>/layout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletProfile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletPropose</servlet-name>
    <url-pattern>/proposer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletAcheter</servlet-name>
    <url-pattern>/acheter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletPanier</servlet-name>
    <url-pattern>/panier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletUpload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletAbout</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletOwnOrders</servlet-name>
    <url-pattern>/mescommandes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletOwnProposals</servlet-name>
    <url-pattern>/mespropositions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletProductsList</servlet-name>
    <url-pattern>/produits</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletServicesList</servlet-name>
    <url-pattern>/services</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletStaff</servlet-name>
    <url-pattern>/team</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletSalableDetails</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
</web-app>